RewriteEngine on

#Seo url oluşturma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


#Yeniden İsimlendirme
#RewriteRule ^haberler$ blog-details.php [NC,L]


#Seo URL Linklendirme

#Slug yapısına çekme
RewriteRule ^bloglar/([0-9a-zA-Z-_]+) blog-detail.php?blogs_slug=$1 [L,QSA]
RewriteRule ^users/([0-9a-zA-Z-_]+) profile.php?users_slug=$1 [L,QSA]
RewriteRule ^category/([0-9a-zA-Z-_]+) category.php?category_slug=$1 [L,QSA]

# Blogs ID'sine göre çekme
# RewriteRule ^bloglar/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+) blog-detail.php?blogs_slug=$1&blogs_id=$2 [L,QSA]
# RewriteRule ^bloglar/([0-9a-zA-Z-_]+) blog-detail.php?blogs_id=$2 [L,QSA]
